@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.display{
 display: flex;
 align-items: center;
 
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.gap-1{
    gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.btn{
    background-color: #D01C28;
    color: white;
    border: none;

}

.btn:hover{
    color: #D01C28;
    background-color: transparent;
    border: 1px solid #D01C28;
}
.p-1{
    padding: 0.5rem 2rem;
}
.bold{
    font-weight: 600;
}
.transition{
    transition: all 0.3s ease-in-out;

}
header{
    min-width: 100%;
    height: 4rem;
}
nav{
    height: inherit;
    min-width: 80%;
    width: 80%;
    margin: auto;
}
nav img{
    width: 5rem;
}
nav ul{
    height: 4rem;
}
nav ul li{
    transition: all 0.3s ease-in-out;
}
nav ul li:hover{
    color: #D01C28;
    cursor: pointer;
}
main{
    min-width: 100%;
}
.hero-container{
    min-width: 80%;
    width: 80%;
    min-height: 400px;
    margin: 2rem auto;
}
.hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.hero-text h1{
 font-size: 4rem;
 font-weight: bold;
}

.hero-text h1+p{
    color: gray;
    font-weight: 600;
}
.btn-container{
    align-self: flex-start;
}
.btn-primary{
    padding: 0.5rem 0.9rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #D01C28;

}
.btn-primary:hover{
    color: #D01C28;
    background-color: transparent;
    border: 1px solid #D01C28;
}
.btn-secondary{
    border: 1px solid black ;
    padding: 0.5rem 0.9rem;
    font-weight: 600;
    font-size: 1.5rem;
   background-color: transparent;
   
}
.btn-secondary:hover{
color: white;
background-color: black;
}

.shop,.shop+img{
    align-self: flex-start;
}
.hero-image{
    min-width: 10%;
    width: 10%;
}

@media screen and (width >1200px){
   
.display{
    display: flex;
    align-items: center;
    
   }
   .justify-between{
       justify-content: space-between;
   }
   .justify-around{
       justify-content: space-around;
   }
   .gap-1{
       gap: 1rem;
   }
   .gap-2{
     gap: 2rem;
   }
   .btn{
       background-color: #D01C28;
       color: white;
       border: none;
   
   }
   
   .btn:hover{
       color: #D01C28;
       background-color: transparent;
       border: 1px solid #D01C28;
   }
   .p-1{
       padding: 0.5rem 2rem;
   }
   .bold{
       font-weight: 600;
   }
   .transition{
       transition: all 0.3s ease-in-out;
   
   }
   header{
       min-width: 100%;
       height: 4rem;
   }
   nav{
       height: inherit;
       min-width: 80%;
       width: 80%;
       margin: auto;
   }
   nav img{
       width: 5rem;
   }
   nav ul{
       height: 4rem;
   }
   nav ul li{
       transition: all 0.3s ease-in-out;
   }
   nav ul li:hover{
       color: #D01C28;
       cursor: pointer;
   }
   main{
       min-width: 100%;
   }
   .hero-container{
       min-width: 80%;
       width: 80%;
       min-height: 400px;
       margin: 2rem auto;
   }
   .hero-text{
       width: 50%;
       display: flex;
       flex-direction: column;
       height: 100%;
   }
   .hero-text h1{
    font-size: 4rem;
    font-weight: bold;
   }
   
   .hero-text h1+p{
       color: gray;
       font-weight: 600;
   }
   .btn-container{
       align-self: flex-start;
   }
   .btn-primary{
       padding: 0.5rem 0.9rem;
       font-size: 1.5rem;
       font-weight: 600;
       border: 1px solid #D01C28;
   
   }
   .btn-primary:hover{
       color: #D01C28;
       background-color: transparent;
       border: 1px solid #D01C28;
   }
   .btn-secondary{
       border: 1px solid black ;
       padding: 0.5rem 0.9rem;
       font-weight: 600;
       font-size: 1.5rem;
      background-color: transparent;
      
   }
   .btn-secondary:hover{
   color: white;
   background-color: black;
   }
   
   .shop,.shop+img{
       align-self: flex-start;
   }
   .hero-image{
       min-width: 10%;
       width: 10%;
   }
   
}

@media (max-width: 900px) {
    nav{
        width: 80%;
    }
    .hero-text{
        width: 100%;
        align-items: center;
        text-align: center;
        flex-grow: 1;
    }
    .hero-image{
        width: 100%;
        height: 100%;
    }
    .hero-text{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .hero-text h1{
        font-size: 2rem;
    }
    .btn-primary,.btn-secondary{
        font-size: 1rem;
    }
    header{
        height: 3rem;
    }
    .shop,.shop+img{
        align-self: center;
    }
    .btn-container{
        align-self: center;
    }
}
@media screen and (max-width: 600px) {
    body{
        display:flex;
        flex-direction:column;
        gap:3rem;
    }
    nav{
        width: 100%;
        flex-direction:column;
        height:auto;
        padding:0.2rem 
    }
    nav ul{
        font-size:0.80rem;
        justify-content:center;
        gap:0.80rem;
    }
    .hero-container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top:5rem;
    }
    .hero-text{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-image{
        width: 100%;
        height: 100%;
    }
    .hero-image img{
        width: 100%;
    }

    .hero-text h1{
        font-size: 2rem;
    }
    .btn-primary,.btn-secondary{
        font-size: 1rem;
    }
    header{
        height: 3rem;
    }
    .shop,.shop+img{
        align-self: center;
    }
    .btn-container{
        align-self: center;
    }
}
